:root {
    --loadder-size: 150px;
    --background-color: var(--mud-palette-background, #292C35);
    --outer-color: var(--mud-palette-primary, #80DEEA);
    --middle-color: var(--mud-palette-warning, #ffa800ff);
    --inner-color: var(--mud-palette-text-primary, #fff);
}

body {
    background: var(--background-color);
}

.label {
    color: var(--inner-color);
    position: absolute;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px);
    background: var(--background-color);
}

.loader {
    width: var(--loadder-size);
    height: var(--loadder-size);
    border-spacing: 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--outer-color) var(--outer-color) transparent var(--outer-color);
    box-sizing: border-box;
    animation: rotation 1.5s alternate infinite;
    background: var(--background-color);
    filter: drop-shadow(1px) saturate(0.5);
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid;
    border-color: transparent transparent var(--middle-color) var(--middle-color);
    width: calc(var(--loadder-size) - 15px);
    height: calc(var(--loadder-size) - 15px);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.7s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: calc(var(--loadder-size) - 30px);
    height: calc(var(--loadder-size) - 30px);
    border: 18px solid;
    border-color: var(--inner-color) var(--inner-color) transparent transparent;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
